@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

.wholebody{
    background-color: rgb(37, 106, 189);
}

.card{
    background-color: white;
    margin-left: 5%;
    margin-right:5%;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: steelblue;
}
.card-body{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    background-color: #d0d0d0;
    margin-bottom: -17px;
    border-radius: 10px 10px 0 0;
}
.brline{
    height: 10px;
}
.form-control{
width: 30;
align-items: center;
align-content: center;
justify-content: center;
}


#layoutError {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#layoutError #layoutError_content {
    min-width: 0;
    flex-grow: 1; /*컨텐츠 나머지 영역을 제일 밑으로*/
}